[midd]
; Destination to import data into.
dev_http_host     = ;name of development http host
dev_http_path     = ;path to development wordpress setup
dev_fs_path       = ;path to wordpress development file location
dev_db_host       = ;name of development database host
dev_db_database   = ;name of development database
dev_db_user       = ;value of development database username
dev_db_password   = ;value of development database password

; Location to source data from.
prod_http_host    = ;name of production http host for midd
prod_http_path    = /
prod_fs_host      = ;name of production web server for midd
prod_fs_path      = ;path to wordpress installation for midd
prod_fs_user      = ; Might be 'root' or some other account, defaults to the current user account
rysync_key        = ;path to an ssh private key that is authorized to run rsync on the prod_fs_host
prod_db_host      = ;name of production database host
prod_db_database  = ;name of production database
prod_db_user      = ;value of production database username
prod_db_password  = ;value of production database password

; Default sites to refresh. Note that site '1' is always included.
default_sites[]   = 123		; example_default_site

[miis]
; Destination to import data into.
dev_http_host     = ;name of development http host
dev_http_path     = ;path to development wordpress setup
dev_fs_path       = ;path to wordpress development file location
dev_db_host       = ;name of development database host
dev_db_database   = ;name of development database
dev_db_user       = ;value of development database username
dev_db_password   = ;value of development database password

; Location to source data from.
prod_http_host    = ;name of production https host for miis
prod_http_path    = /
prod_fs_host      = ;name of production web server for miis
prod_fs_path      = ;path to wordpress installation for miis
prod_fs_user      = ; Might be 'root' or some other account, defaults to the current user account
rysync_key        = ;path to an ssh private key that is authorized to run rsync on the prod_fs_host
prod_db_host      = ;name of production database host
prod_db_database  = ;name of production database
prod_db_user      = ;value of production database username
prod_db_password  = ;value of production database password

; Default sites to refresh. Note that site '1' is always included.
default_sites[]   = 123		; example_default_site
